<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="../../static/image/favicon.svg" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/panel.css">
    <title>Панель администратора</title>
</head>
<body>
    <div class="main-container">
        <header>
            <a href="/brewmaster-secret/panel/">
                {% include 'image/favicon.svg' %}
                <h1>BeerFactory Reservations Admin</h1>
            </a>
        </header>
        <div class="link-area">
            <div class="link-container">
                <a href="/brewmaster-secret/reservations/">Брони</a>
                <a href="/brewmaster-secret/staff/">Сотрудники</a>
                <a href="/brewmaster-secret/uploading/">Выгрузить</a>
            </div>
        </div>
    </div>
</body>
</html>
